<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GangstarBloger Admin-Panel</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">GangstarBloger.In</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse float-right" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto ">
                <li class="nav-item ">
                <a class="nav-link" href="/">Home </a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/contact_us">Contact</a>
                </li>
          
                <li class="nav-item ">
                    <a class="nav-link" href="/addingBlog">Blog </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/admin_panel">Admin-Panel <span class="sr-only">(current)</span></a>
                </li>
          </ul>
    
          <div class="ml-auto form-inline ">
            <form class=" my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0 mr-2" type="submit">Search</button>
            </form>
            {% if user.is_authenticated %}
            <ul class="navbar-nav ml-auto">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  Welcome, {{request.user}}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/logout_handle">Logout</a>
                  <a class="dropdown-item" href="/admin_panel">Admin-Panel</a>
                </div>
              </li>
            </ul>
    
            {% else %}
            <!-- login button  -->
            <button type="button" class="btn btn-danger mr-2" data-toggle="modal" data-target="#login_modal">
              Login
            </button>
            <!-- sign in button  -->
            <button type="button" class="btn btn-danger mr-2" data-toggle="modal" data-target="#signin_modal">
              Sign Up
            </button>
          </div>
          {% endif %}
    
        </div>
      </nav>

      <!-- Displaying Admin data Here  -->
      <div class="container-fluid text-center my-3">
          <h4 class="alert alert-success">The Admin Panel :</h4>
          <hr class="bg-dark">
      </div>
      <div class="container my-3">
          <div class="row">
                  <div class="col-md-12"> 
                      <h4 class="alert alert-warning">User's Detailes :</h4>
                      <table class="table table-hover">
                        <thead>
                          <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Username</th>
                            <th scope="col">Email</th>
                            <!-- <th scope="col">Password</th> -->
                            <th scope="col">Action</th>
                          </tr>
                        </thead>
                        <tbody>
                            {% for data in admin_data %}
                            <tr>
                                <th scope="row">{{data.id}}</th>
                                <td>{{data.username}}</td>
                                <td>{{data.email}}</td>
                                <!-- <td>{{data.password2}}</td> -->
                                <td>
                                    <div class="row">
                                <form action="/Update_admin_value/" method="POST" class="d-inline">
                                    {% csrf_token %}
                                    <input type="hidden" name="user_admin_id" value="{{data.id}}">
                                    <input type="submit" class="btn btn-success mx-2" value="Edit">
                                    
                                </form>
                                <form action="/Delete_admin_data/" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name ="user_admin_id"value="{{data.id}}">
                                    <input type="submit" class="btn btn-danger" value="Delete">
                                </form>
                            </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                      </table>
                  </div>
                  <div class="col-md-12">
                    <h4 class="alert alert-primary">Contact Hiring Me :</h4>
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th scope="col">Id</th>
                          <th scope="col">name</th>
                          <th scope="col">number</th>
                          <th scope="col">address</th>
                          <th scope="col">address2</th>
                          <th scope="col">city</th>
                          <th scope="col">state</th>
                          <th scope="col">postal_c</th>
                        </tr>
                      </thead>
                      <tbody>
                          {% for iMO in contact_data %}
                          <tr>
                              <th scope="row">{{iMO.id}}</th>
                              <td>{{iMO.name}}</td>
                              <td>{{iMO.number}}</td>
                              <td>{{iMO.address}}</td>
                              <td>{{iMO.address2}}</td>
                              <td>{{iMO.city}}</td>
                              <td>{{iMO.state}}</td>
                              <td>{{iMO.postal_c}}</td>
                              <!-- <td>{{data.password2}}</td> -->
                                  <!-- <td>
                                      <div class="row">
                                  <form action="/Update_admin_value/" method="POST" class="d-inline">
                                      {% csrf_token %}
                                      <input type="hidden" name="user_admin_id" value="{{data.id}}">
                                      <input type="submit" class="btn btn-success mx-2" value="Edit">
                                      
                                  </form>
                                  <form action="/Delete_admin_data/" method="POST">
                                      {% csrf_token %}
                                      <input type="hidden" name ="user_admin_id"value="{{data.id}}">
                                      <input type="submit" class="btn btn-danger" value="Delete">
                                  </form>
                              </div>
                                  </td> -->
                          </tr>
                          {% endfor %}
                      </tbody>
                    </table>
                  </div>
          </div>
          
      </div>

    

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>