<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    
    <title>GangstarBloger Contact</title>
  </head>
  
  <body>
    <!-- navbar start from here. -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/">GangstarBloger.In</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse float-right" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto ">
        <li class="nav-item">
          <a class="nav-link" href="/">Home </a>
        </li>
        <li class="nav-item  active">
          <a class="nav-link" href="/contact_us">Contact<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="/addingBlog">Blog </a>
        </li>
      </ul>
      <div class="ml-auto form-inline ">
        <form class=" my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0 mr-2" type="submit">Search</button>
        </form>
        {% if user.is_authenticated %}
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Welcome, {{request.user}}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/logout_handle">Logout</a>
            <a class="dropdown-item" href="/admin_panel">Admin-Panel</a>
          </div>
        </li>
      </ul>
      
      {% else %}
      <!-- login button  -->
      <button type="button" class="btn btn-danger mr-2" data-toggle="modal" data-target="#login_modal">
        Login
      </button>
      <!-- sign in button  -->
      <button type="button" class="btn btn-danger mr-2" data-toggle="modal" data-target="#signin_modal">
        Sign Up
      </button>
    </div>
    {% endif %}
    
  </div>
</nav>

<div class="container my-3 ">
  <div class="card container">
    <center><h2 class="text-success">Contact Me</h2></center>
    <form action="/contact_us/" method="POST">
      {% csrf_token %}
      <div class="form-row mt-3">
        <div class="form-grou col-md-12">
          <label for="inputEmail4">Enter Name :</label>
          <input type="text" name="name" class="form-control " id="inputEmail4">
        </div>
        
        <div class="form-group col-md-12">
          <label for="inputPassword4">Contact Number :</label>
          <input type="number"name="number" class="form-control" id="inputPassword4">
        </div>
      </div>
      <div class="form-group">
        <label for="inputAddress">Address :</label>
        <input type="text" name="address" class="form-control" id="inputAddress" placeholder="1234 Main St">
      </div>
      <div class="form-group">
        <label for="inputAddress2">Address 2 :</label>
        <input type="text" name="address2" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputCity">City</label>
          <input type="text" name="city" class="form-control" id="inputCity">
        </div>
        <div class="form-group col-md-4">
          <label for="inputState">State</label>
          <select id="inputState" name="state" class="form-control">
            <option selected>Maharastra</option>
            <option>Karnataka</option>
            <option>Uttar Pradesh</option>
            <option>Tamil Nadu</option>
            <option>Bihar</option>
          </select>
        </div>
        <div class="form-group col-md-2">
          <label for="inputZip">Postal Code :</label>
          <input type="text" name="postal_c" class="form-control" id="inputZip">
        </div>
      </div>
      
      <center><button type="submit" class="btn btn-primary mb-3 ">Submit</button></center>
    </form>
  </div>
  
</div>

<!-- login system code start here  -->
<div class="modal fade" id="login_modal" tabindex="-1" aria-labelledby="login_modal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Login Form</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="/login_handle/" method="POST" autocomplete="off">
            {% csrf_token %}
            <div class="form-group">
              <label for="exampleInputEmail1">Username</label>
              <input type="text" class="form-control" name="username" id="exampleInputEmail1"
              aria-describedby="emailHelp" required>
              <small id="emailHelp" class="form-text text-muted">We'll never share your Username with anyone
                else.</small>
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" name="password1" id="exampleInputPassword1" required>
              </div>
              
              
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            
          </div>
        </div>
      </div>
    </div>
    
    <!-- sign in code start here -->
  <div class="modal fade" id="signin_modal" tabindex="-1" aria-labelledby="signin_modal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Sign In Form</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="/register_handle/" method="POST" autocomplete="off">
            {% csrf_token %}
            <div class="form-group">
              <label for="exampleInputEmail1">Username</label>
              <input type="text" class="form-control" name="username" id="exampleInputEmail1"
              aria-describedby="emailHelp" required>
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Email</label>
              <input type="email" class="form-control" name="email" id="exampleInputEmail1" aria-describedby="emailHelp"
              required>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control" name="password1" id="exampleInputPassword1" required>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Re-Password</label>
              <input type="password" class="form-control" name="password2" id="exampleInputPassword1" required>
            </div>
            
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  
  
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>
</body>

</html>